{% extends 'base.html' %}


{% block content %}
<h1 class="text-center">New employee creation page</h1>

    <div class="col-md-6 offset-md-3">
        <div class="my-3 p-3 bg-white rounded box-shadow text-center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'create_employee_url' %}" method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {% if field.label != 'User' %}
                            {{ field.label }}
                        {% else %}
                            {{ pass }}
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Create employee</button>
            </form>
        </div>
    </div>
{% endblock %}
