{% extends 'base.html' %}


{% block content %}


    <div class="bg-purple rounded box-shadow">
        <div class="text-center">
            <h6 class="countdown-title">Working hours</h6>
            <div id="countdown" class="countdown">
                <div class="countdown-number">
                    <span class="hours countdown-time"></span>
                    <span class="countdown-text">Hours</span>
                </div>
                <div class="countdown-number">
                    <span class="minutes countdown-time"></span>
                    <span class="countdown-text">Minutes</span>
                </div>
                <div class="countdown-number">
                    <span class="seconds countdown-time"></span>
                    <span class="countdown-text">Seconds</span>
                </div>
            </div>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <form action="{% url 'home_page_url' %}" method="post">
                        {% csrf_token %}
                        <button id="start" type="submit" class="btn btn-success btn-block">Начало смены</button>
                    </form>
                </div>
                <div class="col-sm">
                    <button id="stop" type="button" class="btn btn-danger btn-block">Конец смены</button>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm"></div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <button id="plan" type="button" class="btn btn-info btn-block">Плановый перерыв</button>
                </div>
                <div class="col-sm">
                    <button id="setup" type="button" class="btn btn-info btn-block">Переналадка</button>
                </div>
                <div class="col-sm">
                    <button id="auto_serv" type="button" class="btn btn-info btn-block">Автономное обслуживание</button>
                </div>
                <div class="col-sm">
                    <button id="ppr" type="button" class="btn btn-info btn-block">ППР</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <button id="breaking" type="button" class="btn btn-info btn-block">Поломка оборудования</button>
                </div>
                <div class="col-sm">
                    <button id="material" type="button" class="btn btn-info btn-block">Отсутствие материалов</button>
                </div>
                <div class="col-sm">
                    <button id="task" type="button" class="btn btn-info btn-block">Отсутствие задания</button>
                </div>
                <div class="col-sm">
                    <button id="model" type="button" class="btn btn-info btn-block">Изготовление макетов</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

